<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="internal-nlog.txt">

  <!--define various log targets-->
  <targets>
    <!--write logs to file-->
    <target xsi:type="File" name="allfile" fileName="${basedir}/logs/${shortdate}-all.log"
                 layout="${longdate}|${logger}|${uppercase:${level}}|${message} ${exception}" />
    <target xsi:type="File" name="errorfile" fileName="${basedir}/logs/${shortdate}.log"
                 layout="${longdate}|${logger}|${uppercase:${level}}|${message} ${exception}" />
    <target xsi:type="File" name="debugfile" fileName="${basedir}/logs/${shortdate}-debug.log"
                 layout="${longdate}|${logger}|${uppercase:${level}}|${message} ${exception}" />
    <!--<target xsi:type="Null" name="blackhole" />-->
  </targets>

  <rules>
    <!--All logs, including from Microsoft-->
    <logger name="*" minlevel="Trace" writeTo="allfile" />

    <!--Skip Microsoft logs and so log only own logs-->
    <logger name="*" minlevel="Error" maxlevel="Error"  writeTo="errorfile" />
    <logger name="*" minlevel="Debug" maxlevel="Debug"  writeTo="debugfile" />
  </rules>

</nlog>